node_modules
dist
.tmp
.sass-cache
app/bower_components


# Created by http://www.gitignore.io

### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse


### Yeoman ###
node_modules/
bower_components/
*.log

build/
dist/


### Node ###
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules
/.nodemonignore
/.project

.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/

test/coverage/